<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 게시글 -->
    <h2 class="border-bottom py-2" th:text="${article.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${article.body}"></div>
            <div class="d-flex justify-content-end">
<!--                <div class="badge bg-light text-dark p-2 text-start mx-3">-->
<!--                    <div th:text="${#temporals.format(article.dateTime, 'yyyy-MM-dd HH:mm')}"></div>-->
<!--                </div>-->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${article.writer != null}" th:text="${article.writer.username}">작성자</span>
                    </div>
                    <div th:text="${#temporals.format(article.dateTime, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
<!--        <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"-->
<!--           th:data-uri="@{|/question/vote/${question.id}|}">-->
<!--            추천-->
<!--            <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>-->
<!--        </a>-->
        <a th:href="@{|/post/${article.id}/modify|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${article.writer != null and #authentication.getPrincipal().getUsername() == article.writer.username}"
           th:text="수정"></a>
        <a href="javascript:void(0);" th:data-uri="@{|/post/${article.id}/delete|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${article.writer != null and #authentication.getPrincipal().getUsername() == article.writer.username}"
           th:text="삭제"></a>
    </div>
<!--    &lt;!&ndash; 답변의 갯수 표시 &ndash;&gt;-->
<!--    <h5 class="border-bottom my-3 py-2"-->
<!--        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>-->
<!--    &lt;!&ndash; 답변 반복 시작 &ndash;&gt;-->
<!--    <div class="card my-3" th:each="answer : ${question.answerList}">-->
<!--        <a th:id="|answer_${answer.id}|"></a>-->
<!--        <div class="card-body">-->
<!--            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>-->
<!--            <div class="d-flex justify-content-end">-->
<!--                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">-->
<!--                    <div class="mb-2">modified at</div>-->
<!--                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>-->
<!--                </div>-->
<!--                <div class="badge bg-light text-dark p-2 text-start">-->
<!--                    <div class="mb-2">-->
<!--                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>-->
<!--                    </div>-->
<!--                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="my-3">-->
<!--                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"-->
<!--                   th:data-uri="@{|/answer/vote/${answer.id}|}">-->
<!--                    추천-->
<!--                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>-->
<!--                </a>-->
<!--                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"-->
<!--                   sec:authorize="isAuthenticated()"-->
<!--                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"-->
<!--                   th:text="수정"></a>-->
<!--                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"-->
<!--                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"-->
<!--                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"-->
<!--                   th:text="삭제"></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; 답변 반복 끝  &ndash;&gt;-->
<!--    &lt;!&ndash; 답변 작성 &ndash;&gt;-->
<!--    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">-->
<!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
<!--        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>-->
<!--        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>-->
<!--        <input type="submit" value="답변등록" class="btn btn-primary my-2">-->
<!--    </form>-->
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

<!--    const recommend_elements = document.getElementsByClassName("recommend");-->
<!--    Array.from(recommend_elements).forEach(function(element) {-->
<!--        element.addEventListener('click', function() {-->
<!--            if(confirm("정말로 추천하시겠습니까?")) {-->
<!--                location.href = this.dataset.uri;-->
<!--            };-->
<!--        });-->
<!--    });-->

</script>
</html>