<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/member/join}" th:object="${memberCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username">
            <label for="username" >사용자ID</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password">
            <label for="password">비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" th:field="*{passwordConfirm}" class="form-control" id="passwordConfirm" placeholder="Password">
            <label for="passwordConfirm">비밀번호 확인</label>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>